<!DOCTYPE HTML>
<html>
<head>
    <title>User SignUp</title>
    <style type="text/css">
        .error {
            color: #aa1111;
        }

        body{
            background-color:#ebd86f;
        }
        form {
            background-color: #418b4a;
            padding: 40px;
            margin: 10px;
            width: 650px;
            font: 14px sans-serif;
            border-radius: 5px;
            
        }
    </style>
</head>
<body>
    {% block content %}

    {% endblock %}

</body>
</html>